footer {
    position: relative;
    width: 100%;
    height: 55vh;
}

.footer-container {
    width: 100%;
    height: 100%;
}

.footer-row-1 {
    width: 100%;
    height: 90%;
    display: flex;
    color: white;
}

.fr-col-1 {
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.fr-col-2 {
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fr-col-3 {
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.company {
    width: 60%;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-company {
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-company a {
    color: white;
}

.contact {
    width: 50%;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contacts {
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.social-media {
    width: 70%;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 5%;
}

.social-media .fa-facebook {
    color: #3b5998;
}

.social-media .fa-facebook:hover {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #3b5998;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-media .fa-telegram {
    color: #0088CC;
}

.social-media .fa-telegram:hover {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #0088CC;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-media .fa-vk {
    color: #4c75a3;
}

.social-media .fa-vk:hover {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #4c75a3;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}


.address {
    width: 60%;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.company-title,
.contact-title,
.address-title {
    width: 100%;
    height: 30%;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}

.footer-row-2 {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
}

.copyright {
    width: 60%;
    height: 100%;
    font-size: 14px;
    color: silver;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 1440px) {

    .company {
        width: 80%;
    }
    .address {
        width: 75%;
    }
}

@media (max-width: 1024px) {
    .company-title,
    .contact-title,
    .address-title {
        font-size: 16px;
    }
}

@media (max-width: 768px) {

    .fr-col-1 {
        width: 30%;
    }

    .fr-col-2 {
        width: 35%;
    }

    .fr-col-3 {
        width: 35%;
    }

    .company-title, 
    .contact-title, 
    .address-title {
        font-size: 12px !important;
    }

    .company {
        width: 100%;
    }

    .about-company {
        font-size: 10px;
    }

    .contact {
        width: 100%;
    }

    .contacts {
        font-size: 10px;
        height: 18%;
    }

    .social-media {
        margin-top: 0;
    }

    .social-media i {
        font-size: 12px;
    }

    .address {
        width: 100%;
        font-size: 10px;
    }

    .copyright {
        width: 80%;
        font-size: 10px;
    }
}


@media (max-width: 425px) {

    .email-address {
        font-size: 11px;
    }


}