@import "user-acc.css";

header {
    width: 100%;
    height: 7vh;
    background-color: #202021;
    box-shadow: 0px 1px 6px rgb(11, 11, 11);
    display: flex;
    justify-content: space-between;
    padding-left: 6%;
    padding-right: 6%;
    position: fixed;
    top: 0;
    z-index: 1000;
}

.navbar {
    width: 65% !important;
    height: 100%;
    background-color: #1f1f1f;
    overflow: visible;
    /* justify-content: space-between պիտի լինի;  */
    justify-content: initial; 
}

.navbar-brand img {
    height: 30px;
}

.nav-item {
    display: flex;
    align-items: center;
}

.navbar-expand-md .navbar-nav .nav-link {
    padding-right: .2rem;
    padding-left: 1.1rem;
    color: white !important;
    font-size: 14px;
}

.navbar-expand-sm .navbar-nav .nav-link {
    padding-right: .2rem;
    padding-left: 1.1rem;
    color: white !important;
    font-size: 14px;
}


.dropdown-item:hover {
    color: black !important;
}

button:focus {
    outline: none;
}

.menu {
    display: none;
}

.login {
    width: 18%;
    height: 100%;
    display: flex;
    justify-content: center;
    /* justify-content: space-around; */
    /* margin-left: 4%; */
}

.username {
    cursor: pointer;
    width: 42%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
    position: relative;
}

.user-acc-logo {
    width: 20px;
    height: 20px;
    background-color: orange;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
}

.notifications {
    width: 50%;
    height: 100%;
    color: silver;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-left: 5%;
}

.user-auth {
    width: 15%;
    height: 100%;
    font-size: 14px;
    color: white;
    position: relative;
}

.reg-row {
    width: 100%;
    height: 100%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.sign-in {
    cursor: pointer;
    transform: translateX(-20%);
}

.registration {
    cursor: pointer;
}

.lds-spinner {
    display: none;
    position: absolute;
    bottom: -150%;
    left: 60%;
}


@media (max-width: 1440px) {
    header {
        width: 100%;
        padding-left: 1%;
        padding-right: 1%;
    }

    .navbar {
        min-width: 65% !important;
        padding: 0 !important;
        /* overflow-x: hidden; */
    }

    .login {
        width: 25%;
    }

    .username {
        width: 30%;
    }
}

@media (max-width: 1024px) {
    header {
        width: 100%;
    }

    .navbar {
        width: 75% !important;
        max-width: 100% !important;
    }

    .nav-item {
        max-width: 100%;
    }

    .navbar-expand-md .navbar-nav .nav-link {
        font-size: 13px;
        padding-left: 0.7rem;
    }

    /* .navbar-expand-md .navbar-nav .nav-link */

    .navbar-expand-sm {
        overflow-x: hidden;
    }

    .login {
        width: 25%;
    }

    .username {
        width: 38%;
    }

    #user-name {
        font-size: 14px;
        padding-right: 7%;
    }

    /* .user-acc-logo {
        width: 15%;
        margin-left: 25%;
    } */

    .notifications {
        font-size: 14px;
    }
    .user-auth {
        width: 20%;
    }
}


@media (max-width: 768px) {
    .login {
        width: 30%;
    }

    .username {
        width: 45%;
    }

    #user-name {
        width: 70%;
    }

    .notifications {
        font-size: 12px;
    }

    .user-auth {
        font-size: 12px;
        width: 35%;
    }
    .fa-sign-in, .fa-lock {
        font-size: 12px;
    }

    .navbar {
        width: 50% !important;
    }

    .navbar-brand img {
        height: 40px;
    }

    .navbar-expand-md {
        overflow: visible;
    }

    .navbar-expand-md .navbar-nav .nav-link {
        font-size: 12px;
        padding-left: 0.2rem;
    }

    .navbar-expand-sm .navbar-nav .nav-link {
        padding-left: 0;
    }

    .navbar-collapse {
        position: absolute;
        /* top: 54px; */
        left: 50px;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 15px;
        width: 50%;

    }
    .navbar-collapse.collapsing {
        height: auto;
        -webkit-transition: left 0.3s ease;
        -o-transition: left 0.3s ease;
        -moz-transition: left 0.3s ease;
        transition: left 0.3s ease;
        left: -100%;
    }
    .navbar-collapse.show {
        width: 70%;
        height: 100vh;
        top: 0;
        left: 0;
        background-color: #2d2d2d;
        font-size: 17px !important;

        color: white;
        border-top:2px solid #2d936c;
        -webkit-transition: left 0.3s ease-in;
        -o-transition: left 0.3s ease-in;
        -moz-transition: left 0.3s ease-in;
        transition: left 0.3s ease;
    }

    .nav-item {
        max-width: 100%;
        height: 50px !important;
        font-size: 12px !important;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .navbar-collapse.show .nav-link {
        font-size: 17px;
    }


    .esc {
        cursor: pointer;
    }

    .navbar-collapse.show .menu {
        font-size: 17px !important;
        display: flex;
    }
}

@media (max-width: 767) {
    .navbar-collapse {
        position: absolute;
        top: 54px;
        left: 0;
    }
}

@media (max-width: 635px) {
    .login {
        width: 45%;
    }

    .username {
        width: 45%;
    }

    #user-name {
        width: 70%;
    }

@media (max-width: 600px) {
    .navbar-collapse.show .nav-link {
        font-size: 15px;
    }

    .navbar-collapse.show .menu {
        font-size: 15px !important;
    }
}

@media (max-width: 600px) {
    .navbar-collapse.show .nav-link {
        font-size: 12px;
    }

    .navbar-collapse.show {
        width: 80%;
    }
    .navbar-collapse.show .menu {
        font-size: 12px !important;
    }
}




