.login-window {
    border: 2px solid rgba(214, 206, 206, .2);
    border-radius: 4px;
    width: 50%;
    height: 50%;
    position: fixed;
    top: 10%;
    left: 25%;
    z-index: 100;
}

.lw-title {
    width: 100%;
    height: 12%;
    background-color: #272727;
    border-bottom: 1px solid rgba(214, 206, 206, .2);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
}

.lw-title span {
    font-size: 24px;
    color: silver;
}

.lw-title i {
    cursor: pointer;
    font-size: 22px;
    color: rgb(150, 148, 148);
}

.lw-main {
    width: 100%;
    height: 68%;
    display: flex;
    border-bottom: 1px solid rgba(214, 206, 206, .2);
}

.lw-main-left {
    width: 45%;
    height: 100%;
    background-color: #2d2d2d;
    color: silver;
}

.main-l-row {
    width: 100%;
    height: 55%;
    padding-right: 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
}

.lw-main-right {
    width: 55%;
    height: 100%;
    background-color: #202020;
}

.login-input {
    width: 100%;
    height: 100%;
}

.li-row {
    width: 100%;
    height: 65%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.li-row-1,
.li-row-2 {
    width: 95%;
}

.li-row-1 input,
.li-row-2 input {
    width: 100%;
    border-radius: 4px;
    border: none;
}

.li-row-2 {
    display: flex;
    flex-direction: column;
}

.li-row-2 a {
    color: silver;
}

.lm-row-3 {
    width: 100%;
    height: 35%;
    display: flex;
    align-items: center;
    padding-left: 15px;
}

.lm-row-3 span {
    color: silver;
    padding-left: 5px;
}

.lw-footer {
    width: 100%;
    height: 20%;
    background-color: #202020;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1%;
}

.lw-footer .btn {
    width: 15%;
    height: 35%;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateX(25%);
}

.lw-footer .btn i {
    margin-right: 5px;
}

.lw-footer-reg {
    width: 45%;
    height: 50%;
    color: silver;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
}

.lw-footer-reg div {
    border-radius: 3px;
    background-color: #464444;
    width: 35%;
    height: 65%;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.lw-footer-reg div:hover {
    background-color: #363535;
}

@media (max-width: 1440px) {
    .login-window {
        width: 60%;
        height: 55%;
    }

    .lw-main-right,
    .lw-main-left {
        height: 101%;
        border-bottom: 1px solid rgba(214, 206, 206, .2);
    }

    .li-row-1 {
        height: 30%;
    }

    .li-row-2 {
        height: 35%;
    }

    .li-row-1 input {
        height: 55%;
        margin-top: 2%;

    }

    .li-row-2 input {
        height: 45%;
    }

    .lw-footer-reg {
        width: 60%;
        justify-content: space-around;
    }
}

@media (max-width: 1024px) { 
    .login-window {
        width: 65%;
        height: 60%;
        left: 17.5%;
    }

    .lw-main-left {
        width: 42.5%;
    }

    .lw-main-right {
        width: 57.5%;
    }
    .main-l-row {
        font-size: 14px;
    }

    .li-row-2 a {
        font-size: 12px;
    }

    .lm-row-3 span {
        font-size: 12px;
    }

    .lw-footer .btn {
        font-size: 12px;
    }

    .lw-footer-reg {
        font-size: 12px;
    }

    .lw-footer-reg div {
        width: 40%;
    }
}

@media (max-width: 768px) {
    .login-window {
        width: 95%;
        height: 60%;
        left: 2.5%;
    }
    .main-l-row {
        height: 65%;
        font-size: 13px;
        padding-right: 8px;
    }

    .main-l-row span:nth-child(1){
        width: 75%;
        text-align: center;
    }

    .main-l-row span:nth-child(2) {
        margin-right: 10%;
    }



    .lw-main-left {
        width: 45%;
    }

    .lw-main-right {
        width: 55%;
    }

    .li-row {
        height: 80%;
    }

    .li-row-2 a {
        font-size: 11px;
    }

    .lm-row-3 {
        height: 20%;
    }

    .lm-row-3 span {
        font-size: 11px;
    }

    .lw-footer {
        justify-content: center;
    }

    .lw-footer .btn {
        height: 28%;
        font-size: 11px;
    }

    .lw-footer-reg {
        width: 80%;
        font-size: 11px;
    }

    .lw-footer-reg div {
        font-size: 11px;
    } 
}
