.registration-modal {
    position: fixed;
    top: 10%;
    left: 25%;
    width: 50%;
    height: 80%;
    background-color: #1f1f1f;
    border-radius: 4px;
    border: 2px solid rgba(214, 206, 206, .2);
    z-index: 100;
}

.reg-title {
    width: 100%;
    height: 7%;
    padding-left: 3%;
    padding-right: 3%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
    color: silver;
    border-bottom:  1px solid rgba(214, 206, 206, .2);
}

.reg-title i {
    cursor: pointer;
}

.mod {
    width: 100%;
    height: 83%;
    margin: 0 auto;
    display: flex;
    border-bottom:  1px solid rgba(214, 206, 206, .2);
}

.mod-col-1 {
    width: 35%;
    height: 100%;
    background-color:#313030;
    color: silver;
    
}

.col-1-row-1,
.col-1-row-2,
.col-1-row-3,
.col-1-row-4 {
    width: 100%;
    height: 18%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding-right: 5%;
}

.col-1-row-5 {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding-right: 5%;
}

.col-1-row-1 span:nth-child(2),
.col-1-row-2 span:nth-child(2),
.col-1-row-3 span:nth-child(2),
.col-1-row-5 span:nth-child(2) {
    color: rgb(116, 111, 111);
}

.mod-col-2 {
    width: 65%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-size: 12px;
    color: rgb(116, 111, 111);
}
.col-2-row-1 {
    height: 20%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.col-2-row-2,
.col-2-row-3,
.col-2-row-4,
.col-2-row-5 {
    width: 100%;
    height: 18%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.col-2-row-1 {
    padding-top: 2%;
}

.col-2-row-2 {
    justify-content: flex-start;
    margin-top: 3%;
}

.col-2-row-3 {
    justify-content: flex-start;
    margin-top: 1%;
}

.col-2-row-1 input,
.col-2-row-2 input,
.col-2-row-3 input,
.col-2-row-4 input {
    width: 95%;
    height: 38%;
    margin: 0 auto;
    background-color: #313030;
    color: white;
    border-radius: 5px;
    border: 1px solid rgb(211, 207, 207);
}

.col-2-row-6 {
    width: 95%;
    height: 10%;
    display: flex;
    align-items: center;
}

.col-2-row-1 p,
.col-2-row-2 p,
.col-2-row-3 p,
.col-2-row-4 p {
    width: 95%;
}

.mod-row-1 {
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.col-2-row-6 input[type='checkbox'] {
    outline: 1.5px solid green;
    outline-offset: -2px;
    color:  red ;
    margin-right: 5px;
}
.mod-row-1 .btn {
    padding: .09rem 1.3rem;
}


@media (max-width: 1440px) {
    .registration-modal {
        left: 15%;
        width: 70%;
    }

    .mod-col-1 {
        width: 30%;
    }

    .mod-col-2 {
        width: 70%;
        font-size: 14px;
    }

    .col-2-row-1 p {
        font-size: 13px;
    }

    .col-2-row-3 {
        margin-top: 1%;
    }
}

@media (max-width: 1024px) {

    .mod-col-1 {
        width: 28%;
    }

    .mod-col-2 {
        width: 72%;
    }

    .col-1-row-2,
    .col-1-row-3,
    .col-1-row-4,
    .col-1-row-5 {
        padding-top: 20%;
    }

    .col-1-row-1 span:nth-child(1),
    .col-1-row-2 span:nth-child(1),
    .col-1-row-3 span:nth-child(1),
    .col-1-row-4 span:nth-child(1),
    .col-1-row-5 span:nth-child(1) {
        font-size: 14px;
    }
    .col-1-row-1 span:nth-child(2),
    .col-1-row-2 span:nth-child(2),
    .col-1-row-3 span:nth-child(2),
    .col-1-row-4 span:nth-child(2),
    .col-1-row-5 span:nth-child(2) {
        font-size: 11px;
    }

    .col-2-row-1 p,
    .col-2-row-3 p,
    .col-2-row-4 p,
    .col-2-row-6 p {
        font-size: 12px;
    }

    .col-2-row-1 {
        height: 25%;
        padding-top: 0;
    }

    .col-2-row-2 {
        margin-top: 0;
    }

    .col-2-row-3 {
        margin-top: 0;
    }
    .col-2-row-5 {
        height: 12%;
    }

    .col-2-row-6 {
        width: 96%;
    }

    .col-2-row-1 input {
        height: 32%;
    }

    .col-2-row-2 input, .col-2-row-3 input, .col-2-row-4 input {
        height: 44%;
    }
}

@media (max-width: 768px) {
    .registration-modal {
        width: 90%;
        left: 5%;
    }

    .mod-col-1 {
        width: 38%;
    }
    .mod-col-2 {
        width: 62%;
    }

    .col-1-row-1 {
        padding-top: 10%;
    }

    .col-1-row-1 span:nth-child(1),
    .col-1-row-2 span:nth-child(1),
    .col-1-row-3 span:nth-child(1),
    .col-1-row-4 span:nth-child(1),
    .col-1-row-5 span:nth-child(1) {
        font-size: 13px;
    }
    .col-1-row-1 span:nth-child(2),
    .col-1-row-2 span:nth-child(2),
    .col-1-row-3 span:nth-child(2),
    .col-1-row-4 span:nth-child(2),
    .col-1-row-5 span:nth-child(2) {
        font-size: 11px;
    }

    .col-2-row-1 {
        height: 30%;
    }
    .col-2-row-1 input {
        height: 23%;
    }
    .col-2-row-2 input, .col-2-row-3 input, .col-2-row-4 input {
        height: 40%;
    }

    .col-2-row-1 p,
    .col-2-row-3 p,
    .col-2-row-4 p,
    .col-2-row-6 p {
        font-size: 10px;
    }
}

@media (max-width: 635px) {     
    .col-1-row-2, .col-1-row-3, .col-1-row-4, .col-1-row-5 {
        padding-top: 30%;
    }
}