@import "loading.css";
@import "registration.css";
@import "login.css";
@import "header.css";
@import "footer.css";

@font-face{
    font-family:"Segoe UI";
    src:url("../../fonts/Segoe-UI.ttf") format("ttf");
    font-weight:normal;
    font-style:normal;
    font-display:swap
}

body {
    background-color: #1f1f1f;
}

* {
    font-family: "Segoe_UI", sans-serif;
}

::-webkit-scrollbar {
    width: 8px;    
}
  
::-webkit-scrollbar-track {
    background: #202021;        
}

::-webkit-scrollbar-thumb {
    background-color: #2ecc71;   
    border-radius: 20px;       
}

::-webkit-scrollbar-thumb:hover {
    background-color: silver;   
}

 p {
    margin: 0;
    padding: 0 ;
}


/*=================================== Section Info =================================== */

main {
    width: 88%;
    height: 180vh;
    margin: 8% 6% 8% 6%;
    background-color: #2d2d2d;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info {
    width: 98%;
    height: 30vh;
    margin-bottom: 25px;
    background-color: #292828;
    margin-top: 15px;
}

.info-col {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.info-row-1 {
    width: 98%;
    height: 40%;
    color: white;
    padding-top: 1%;
}
.info-row-2 {
    width: 98%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.info-row-3 {
    width: 98%;
    height: 40%;
    color: white;
}
/*=================================== Section Announcements =================================== */

.announcements {
    width: 98%;
    height: 50vh;
    background-color: #1f1f1f;
}
.ann-container {
    border: 1px solid  rgba(214, 206, 206, .2);
    width: 100%;
    height: 100%;
}

.ann-row-1 {
    border-bottom: 1px solid  rgba(214, 206, 206, .2);
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
}

.topics {
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: white;
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 0;
}

.topics li {
    margin-left: 10px;
}

.topic:hover {
    cursor: pointer;
    border-bottom: 2px solid rgba(201, 199, 199, .2);
}

.refresh-btn {
    width: 2%;
    height: 100%;
    display: flex;
    align-items: center;
}
.fa-refresh {
    color: white;
}

.ann-row-2 {
    width: 100%;
    height: 40%;
}

.post-1,
.post-2,
.post-3,
.post-4 {
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    border-bottom: 1px solid rgba(214, 206, 206, .2);
}

.p-1-title,
.p-2-title,
.p-3-title,
.p-4-title {
    width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
}
.p-1-title p,
.p-2-title p,
.p-3-title p,
.p-4-title p{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.p-2-title p i,
.p-3-title p i,
.p-4-title p i {
    color: red;
}

.p-2-title .btn,
.p-3-title .btn,
.p-4-title .btn {
    height: 65%;
    padding: .01rem .3rem;
    font-size: 12px;
    border-radius: 0%;
    margin-right: 3px;
}

.p-1-title p i{
    color: white !important;
    text-shadow: none;
    margin-left: 5px;
    margin-right: 5px;
} 

.p-1-title a {
    color: #e0e006;
    text-shadow: 0 0 10px #e0e006;
} 

.ellipsis {
    width:100%;
    display: block;
    text-overflow:ellipsis;
    overflow:hidden;
    white-space:nowrap;
}

.p-2-title p i{
    margin-left: 5px;
    margin-right: 5px;
}

.p-2-title a {
    color: #72fbee;
    text-shadow: 0 0 10px #00ffc4;
}

.p-3-title p i{
    margin-left: 5px;
    margin-right: 5px;
}

.p-3-title a {
    color: white;
}

.p-4-title p i{
    margin-left: 5px;
    margin-right: 5px;
}

.p-4-title a {
    color: white;
}

.p-1-date,
.p-2-date,
.p-3-date,
.p-4-date {
    width: 15%;
}

.p-3-date,
.p-4-date {
    transform: translateX(-7%);
}

/* ============= Main - New posts ===============*/
.main-row-1 {
    width: 98%;
    height: 10vh;
    display: flex;
    justify-content: flex-end;
}

.main-row-1-buttons {
    width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.main-row-1-buttons .btn {
    /* width: 45%; */
    height: 45%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 10px;
}


/*=================================== Section Dashboard =================================== */

.dashboard {
    width: 98%;
    height: 80vh;
    display: flex;
    justify-content: space-between;
}

.dash-col-1 {
    width: 78%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.ads {
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #202021 !important;
}

.ads-1 {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
}

.ads-2 {
    width: 89%;
    height: 50%;
    display: flex;
    justify-content: space-between;

}

.ads-2 img {
    width: 33.333%;
}

.premium {
    width: 100%;
    height: 22%;
    background-color: #202021 !important;
}

.pr-row-1 {
    border-bottom: 1px solid rgba(214, 206, 206, .2);
    width: 100%;
    height: 50%;
}

.pr-header {
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 20px;
}

.pr-header a {
    color: white;
}

.pr-header span {
    color: silver;
    font-size: 12px;
}

.pr-row-2 {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10%;
}

.rellase {
    width: 25%;
    height: 100%;
    display: flex;
    align-items: center;
}

.rellase i {
    color: orange;
    font-size: 30px;
}

.rellase a {
    color: orange;
    font-size: 18px;
    margin-left: 5px;
}


.rellase-info {
    width: 35%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.ri-col-1,
.ri-col-2 {
    color: silver;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ri-col-1 span:nth-child(1),
.ri-col-2 span:nth-child(1) {
    font-size: 11px;
}

.ri-col-1 span:nth-child(2),
.ri-col-2 span:nth-child(2) {
    font-size: 14px;
}

.ri-col-3 {
    width: 12%;
    height: 60%;
    background-image: url("../images/garlic.jpg");
    background-size: 100% 100%;
}

.ri-col-4 {
    font-size: 12px;
}

.ri-col-4 a {
    color: white;
}

.ri-col-4 p {
    color: silver;
}

.laboratory {
    width: 100%;
    height: 50%;
    background-color: #202021 !important;
}

.lab-header {
    width: 100%;
    height: 25%;
    border-bottom: 1px solid rgba(214, 206, 206, .2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 2%;
}

.lab-header a {
    color: white;
}

.lab-header p {
    font-size: 12px;
    color: silver;
}

.lab-content {
    width: 100%;
    height: 75%;
    display: flex;
    justify-content: space-between;
}

.lc-col-1,
.lc-col-2 {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.ideas,
.stories,
.generator,
.mix {
    width: 95%;
    height: 42%;
    border: 1px solid rgba(214, 206, 206, .2);
    border-radius: 4px;
    display: flex;
    align-items: center;
}


.ideas .fa-envelope-o,
.stories .fa-envelope-o,
.generator .fa-envelope-o,
.mix .fa-envelope-o {
    font-size: 32px;
    color: #409b6b;
    margin-left: 3%;
    margin-right: 3%;
}

.ideas-txt a,
.stories-txt a,
.generator-txt a,
.mix-txt a{
    color: white;
}

.ideas-txt p,
.stories-txt p,
.generator-txt p,
.mix-txt p{
    font-size: 12px;
    color: silver;
}

.dash-col-2 {
    width: 21%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.dash-col-2 a {
    width: 100%;
    height: 47%;
}


.anonym-space {
    width: 100%;
    height: 100%;
    background-image: url("../images/anonym.space.png");
    background-size: 100% 100%;
}

.forum-channels {
    background-color: #1f1f1f;
    width: 100%;
    height: 47%;
}

.forum-channels p {
    font-size: 16px;
    color: #2d936c;
    margin-top: 2%;
    margin-left: 5%;
}

.channel-logo {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
}

.channel-logo a {
    width: 45%;
    height: 100%;
}

.channel-logo img {
    width: 100%;
    height: 100%;
}

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0,0,0,0), rgba(255,255,255,0.75), rgba(0,0,0,0));
}

.channel-links {
    width: 100%;
    height: 20%;
}

.channel-links > div {
    width: 80%;
    height: 33.3333%;
    display: flex;
    align-items: center;
    color: white;
}

.link-1,
.link-2, 
.link-3 {
    font-size: 14px;
    margin-left: 10px;
}

.tag-1,
.tag-2 {
    width: 75%;
    height: 95%;
    font-size: 12px;
    background-color: rgb(238, 17, 17);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tag-3 {
    width: 45%;
    height: 95%;
    font-size: 12px;
    background-color: #2d936c;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.link-1 a,
.link-2 a, 
.link-3 a {
    color: white;
}

.site-link {
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    color: white;
}

.tag-4 {
    width: 20%;
    height: 60%;
    background-color: #2d936c;
    border-radius: 5px;   
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
}

.site-link a {
    width: 70%;
    height: 100%;
    font-size: 14px;
    color: white;
    display: flex;
    align-items: center;
}

.channel-buttons {
    width: 100%;
    height: 14%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.channel-buttons a:nth-child(1) {
    width: 85%;
    height: 75%;
    border-radius: 5px;
    font-size: 14px;
    color: white;
    background-color: #ec4e4e;
    display: flex;
    align-items: center;
    justify-content: center;
}

.channel-buttons a:nth-child(2) {
    width: 50%;
    height: 75%;
    font-size: 12px;
    color: white;
    background-color: #1f6c95;
    text-align: center;
}

.forum-support {
    width: 100%;
    height: 51%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #202021;
}

.fs-row-1 {
    width: 90%;
    height: 40%;
}

.fs-row-1 a {
    font-size: 17px;
    color: #2d936c;
}

.fs-row-1 p {
    width: 70%;
    font-size: 14px;
    color: silver;
}

.fs-desc {
    margin-top: 4%;
}

.fs-row-2 {
    width: 75%;
    height: 10%;
    background-color: #292828;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fs-row-2 span {
    color: silver;
}

.fs-row-3 {
    width: 90%;
    height: 45%;
    font-size: 14px;
    color: silver;
    padding-top: 8%;
}

.support-progress,
.target {
    display: flex;
    justify-content: space-between;
}

.target {
    margin-bottom: 10%;
}

.fs-row-3 .btn {
    font-size: 14px;
    padding: 2px 4px
}

.scroll {
    width: 30px;
    height: 60px;
    position: fixed;
    bottom: 25px;
    right: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.scroll-to-top {
    width: 100%;
    height: 48%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(214, 206, 206, .2);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    font-size: 12px;
}

.scroll-to-bottom {
    width: 100%;
    height: 48%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(214, 206, 206, .2);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    font-size: 12px;
}

.scroll-to-top a,
.scroll-to-bottom a {
    color: silver;
}

@media (max-width: 1440px) {
    /* header {
        width: 100%;
        padding-left: 1%;
        padding-right: 1%;
    }

    .navbar {
        min-width: 65% !important;
        padding: 0 !important;
        overflow-x: hidden;
    } */

    main {
        width: 98%;
        margin: 12% 1% 12% 1%;
    }

    .info {
        height: 22vh;
    }

    .info-row-1,
    .info-row-2, 
    .info-row-3 {
        font-size: 16px;
    }

    .topics li {
        font-size: 16px;
    }

    .fa-refresh {
        font-size: 16px;
    }

    .p-1-title a,
    .p-2-title a,
    .p-3-title a,
    .p-4-title a {
        font-size: 16px;
    }

    .p-1-date span,
    .p-2-date span,
    .p-3-date span,
    .p-4-date span {
        font-size: 16px;
    }

    .p-3-date, .p-4-date {
        transform: translateX(-6.5%);
    }

    .p-1-owner span,
    .p-2-owner span,
    .p-3-owner span,
    .p-4-owner span {
        font-size: 16px;
    }

    .main-row-1-buttons .btn {
        height: 45%;
        font-size: 14px;
    }

    .ads-1 img {
        width: 80%;
    }

    .ads-2 {
        width: 75%;
    }

    .ads-2 img {
        width: 33.333%;
    }

    .rellase {
        width: 35%;
    }

    .rellase-info {
        width: 40%;
    }

    .ri-col-3 {
        height: 55%;
    }

    .fs-row-1 p {
        width: 90%;
    }

    .channel-buttons {
        height: 20%;
    }

    .channel-buttons a:nth-child(1) {
        height: 50%;
        text-align: center;
    }
}

@media (max-width: 1024px) {
    .user-acc-logo {
        width: 15px;
        height: 15px;
        font-size: 12px;
    }

    .dash-col-1 {
        width: 74.5%;
    }

    .dash-col-2 {
        width: 25%;
    }
    .info-row-1,
    .info-row-2, 
    .info-row-3 {
        font-size: 14px;
    }

    .p-1-title a,
    .p-2-title a,
    .p-3-title a,
    .p-4-title a {
        font-size: 13px;
    }

    .topics li {
        font-size: 13px;
    }

    .p-1-date span,
    .p-2-date span,
    .p-3-date span,
    .p-4-date span {
        font-size: 13px;
    }

    .p-1-owner span,
    .p-2-owner span,
    .p-3-owner span,
    .p-4-owner span {
        font-size: 13px;
    }

    .fa-refresh {
        font-size: 13px;
    }

    .main-row-1-buttons .btn {
        height: 45%;
        font-size: 13px;
    }

    .pr-header {
        width: 40%;
    }

    .rellase {
        width: 45%;
    }

    .rellase a {
        font-size: 16px;
    }

    .rellase i {
        font-size: 28px;
    }

    .rellase-info {
        width: 55%;
    }

    .ri-col-3 {
        height: 60%;
    }

    .ideas .fa-envelope-o, 
    .stories .fa-envelope-o, 
    .generator .fa-envelope-o, 
    .mix .fa-envelope-o {
        font-size: 28px;
    }

    .ideas-txt a, 
    .stories-txt a, 
    .generator-txt a, 
    .mix-txt a {
        font-size: 15px;
    }

    .forum-channels p {
        font-size: 14px;
    }

    .fs-row-1 a {
        font-size: 16px;
    }

    .fs-row-1 p {
        width: 100%;
        font-size: 12px;
    }

    .fs-row-3,
    .fs-row-3 .btn {
        font-size: 12px;
    }

    hr {
        margin-top: 8px;
        margin-bottom: 8px;
    }

    .channel-links > div {
        width: 90%;
    }

    .tag-1, .tag-2 {
        width: 85%;
    }

    .tag-4 {
        width: 30%;
        height: 70%;
        margin-left: 5px;
    }

    .channel-links a {
        width: 50%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .site-link a {
        font-size: 12px;
        margin-left: 3px;
    }

    .channel-buttons {
        height: 23%;
    }

    .channel-buttons a:nth-child(1) {
        font-size: 12px;
        height: 60%;
    }
}

@media (max-width: 768px) {
    main {
        height: 280vh;
    }

    .info {
        height: 25vh;
    }

    .topics {
        width: 95%;
    }

    .topics li {
        font-size: 11px;
        margin-left: 6px;
    }

    .info-row-1, .info-row-2, .info-row-3 {
        font-size: 11px;
    }

    .fa-refresh {
        font-size: 14px !important;
    }

    .ann-row-1 {
        height: 15%;
    }

    .main-row-1 {
        height: 8vh;
    }

    .main-row-1-buttons {
        width: 85%;
    }

    .main-row-1-buttons .btn {
        height: 50%;
    }

    .post-1, 
    .post-2, 
    .post-3, 
    .post-4 {
        height: 25%;
    }

    .p-1-title, 
    .p-2-title, 
    .p-3-title, 
    .p-4-title {
        width: 100%;
    }

    .p-1-date, 
    .p-2-date, 
    .p-3-date, 
    .p-4-date {
        display: none;
    }

    .p-1-owner span,
    .p-2-owner span,
    .p-3-owner span,
    .p-4-owner span {
        display: none;
    }

    .dashboard {
        height: 190vh;
        display: initial;
    }

    .dash-col-1 {
        width: 100%;
        height: 75%;
        justify-content: initial;
    }

    .ads {
        height: 11%;
        margin-bottom: 15px;
    }

    .premium {
        height: 16%;
        margin-bottom: 15px;
    }

    .pr-row-2 {
        
        align-items: center;
        padding-right: 10px;
    }

    .rellase-info {
        width: 55%;
        height: 90%;
    }

    .rellase i {
        font-size: 28px;
    }

    .laboratory {
        height: 69%;
    }

    .lab-header {
        height: 15%;
    }

    .lab-content {
        display: initial;
    }
    
    .lc-col-1, .lc-col-2 {
        width: 100%;
        height: 40%;
    }

    .ideas, .stories, .generator, .mix {
        height: 42%;
    }

    .dash-col-2 {
        width: 100%;
        height: 25%;
        display: flex;
        flex-direction: row;
    }

    .dash-col-2 a {
        height: 100%;
        width: 49%;
    }
    
    .site-link a {
        width: 60%;
        font-size: 13px;
    }
    
    .anonym-space {
        width: 100%;
    }
    
    .forum-channels {
        width: 49%;
        height: 100%;
    }
    
    .tag-1, .tag-2 {
        width: 42%;
    }
    
    .tag-3 {
        width: 30%;
    }

    .tag-4 {
        width: 26%;
    }
    
    .channel-buttons {
        height: 28%;
    }
    
    .channel-buttons a:nth-child(1) {
        height: 40%;
    }
    
    .forum-support {
        height: 100%;
        width: 49%;
    }

    .fs-row-1,
    .fs-row-3 {
        width: 96%;
    }

    .fs-row-1 p {
        font-size: 13px;
    }

    .fs-row-3, 
    .fs-row-3 .btn {
        font-size: 13px;
    }
}

@media (max-width: 635px) {
    .info-row-1, .info-row-2, .info-row-3 {
        font-size: 10px;
    }

    .topics li {
        font-size: 10px;
    }

    .rellase {
        width: 35%;
    }

    .rellase-info {
        width: 65%;
    }

    .rellase a {
        font-size: 12px;
    }

    .rellase i {
        font-size: 22px;
    }

    .ri-col-3 {
        height: 50%;
    }

    .ri-col-4 {
        font-size: 11px;
    }

    .ri-col-4 a {
        font-size: 11px;
    }
}
