.user-acc {
    width: 340px;
    height: 400px;
    position: absolute;
    top: 50px;
    right: 0;
}

.acc-triangle {
    width: 100%;
    height: 10px;
    padding-right: 10px;
}

.acc-triangle > div {
    width: 0; 
    height: 0; 
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #2d936c;
    float: right;
    margin-right: 30px;
}
.acc-info {
    width: 100%;
    height: 390px;
    border-top: 2px solid #2d936c;
    background-color: #2d2d2d;
}

.acc-header {
    width: 60%;
    height: 8%;
    display: flex;
    font-size: 14px;
}

.account {
    width: 60%;
    height: 100%;
    padding-left: 5%;
    color: #2d936c;
    border-bottom: 1px solid #2d936c;
    display: flex;
    align-items: center;
    justify-content: center;
    /* text-align: center; */
}

.bookmarks {
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* text-align: center; */
}

.acc-main {
    width: 100%;
    height: 80%;
    font-size: 12px;
}

.am-1 {
    width: 100%;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid rgba(214, 206, 206, .2);
}

.am-1-left {
    width: 25%;
    height: 95%;
    background-color: orange;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
}

.am-1-right {
    width: 65%;
    height: 90%;
    padding-left: 5%;
    color: silver;
}

.am-1-right a {
    font-size: 18px;
    color: white;
}

.acc-notifications {
    display: flex;
    flex-direction: column;   
}

.messages,
.reactions,
.points {
    display: flex;
    justify-content: space-between;
}

.am-2 {
    width: 100%;
    height: 20%;
    display: flex;
    border-bottom: 1px solid rgba(214, 206, 206, .2);
}

.am-2-left {
    width: 45%;
    height: 100%;
}
.am-2-right {
    width: 55%;
    height: 100%;
}

.am-2-left div,
.am-2-right div {
    width: 100%;
    height: 50%;
    padding-left: 5%;
    display: flex;
    align-items: center;
}

.am-2-left div:hover,
.am-2-right div:hover {
    background-color: #1f1f1f;
    border-left: 3px solid #2d936c;
}

.am-3 {
    width: 100%;
    height: 50%;
    display: flex;
    border-bottom: 1px solid rgba(214, 206, 206, .2);
}

.am-3-left {
    width: 45%;
    height: 100%;
}

.am-3-right {
    width: 55%;
    height: 100%;
}

.am-3-left div,
.am-3-right div {
    width: 100%;
    height: 20%;
    padding-left: 5%;
    display: flex;
    align-items: center;    
}

.am-3-left div:hover,
.am-3-right div:hover {
    background-color: #1f1f1f;
    border-left: 3px solid #2d936c;
}

.acc-footer {
    width: 100%;
    height: 12%;
    display: flex;
    align-items: center;
    padding-left: 2%;
}

.acc-footer button {
    background: none;
    outline: none;
    border: none;
    color: white;
}

@media (max-width: 1024px) {
    .user-acc {
        right: -25px;
    }

    .acc-triangle > div {
        margin-right: 50px;
    }
}

@media (max-width: 768px) {
    .user-acc {
        right: -45px;
    }

    .acc-triangle > div {
        margin-right: 65px;
    }
}

@media (max-width: 635px) {
    .user-acc {
        right: -60px;
    }

    .acc-triangle > div {
        margin-right: 70px;
    }
}