@import "../../css/loading.css";
@import "../../css/registration.css";
@import "../../css/login.css";
@import "../../css/header.css";
@import "../../css/footer.css";

@font-face{
    font-family:"Segoe UI";
    src:url("../../fonts/Segoe-UI.ttf") format("ttf");
    font-weight:normal;
    font-style:normal;
    font-display:swap
}

body {
    background-color: #1f1f1f;
}

* {
    font-family: "Segoe_UI", sans-serif;
}

::-webkit-scrollbar {
    width: 7px;    
}
  
::-webkit-scrollbar-track {
    background: #202021;       
}
  
::-webkit-scrollbar-thumb {
    height: 20px;
    background-color: #2ecc71;   
    border-radius: 20px;       
}

::-webkit-scrollbar-thumb:hover {
    background-color: silver;   
}

p {
    margin: 0;
    padding: 0 ;
}

/* ================== Main, Section Info =================== */
main {
    width: 88%;
    height: 1060vh;
    margin: 8% 6% 8% 6%;
    background-color: #2d2d2d;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info {
    width: 98%;
    height: 30vh;
    margin-bottom: 25px;
    background-color: #292828;
    margin-top: 15px;
}

.info-col {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.info-row-1 {
    width: 98%;
    height: 40%;
    color: white;
    padding-top: 1%;
}
.info-row-2 {
    width: 98%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.info-row-3 {
    width: 98%;
    height: 40%;
    color: white;
}

.post-header {
    width: 98%;
    height: 25vh;
}

.ph-row-1 {
    width: 100%;
    height: 14%;
    background-color: #1f1f1f;
}

.page-nav {
    width: 30%;
    list-style-type: none;
    display: flex;
    align-items: center;
    padding-left: 1%;
}

.page-nav li:nth-child(1) {
    font-size: 14px;
    color: silver;
    display: flex;
    align-items: center;
}

.page-nav li:nth-child(1) i {
    padding-top: 3px;
    padding-left: 4px;
    padding-right: 4px;
}

.page-nav li:nth-child(2) a,
.page-nav li:nth-child(2) i {
    color: white;
}

.ph-row-2 {
    width: 100%;
    height: 40%;
    background-color: #1f1f1f;
    margin-top: .3%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ph-row-2 img {
    width: 75%;
    height: 80%;
}

.ph-row-3 {
    width: 100%;
    height: 40%;
    background-color: #2d2d2d;
    margin-top: .5%;
}

.ph-row-3-title {
    width: 30%;
    height: 60%;
    display: flex;
    align-items: center;
    color: white;
    padding-left: 1%;
}

.checked {
    width: 28%;
    height: 60%;
    background-color: #1d533b;
    font-size: 18px;
    text-align: center;
}

.ph-row-3-title p {
    font-size: 24px;
    margin-left: 5px;
}

.ph-row-3-info {
    width: 50%;
    height: 40%;
    display: flex;
    
    color: silver;
}

.ph-row-3-info div {
    display: flex;
    font-size: 12px;
    align-items: center;
    margin-left: 2%;
}

.info-tags {
    width: 55%;
}

/*============================ Pagination Section ==============================*/

.post-page-navigation {
    width: 98%;
    height: 30px;
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.pagination {
    width: 25%;
    height: 30px;
    display: flex;
    float: left;
}

.page-1 {
    width: 25px;
    height: 30px;
    border: 1px solid #2ecc71;
    display: flex;
    align-items: center;
    justify-content: center;
}

.page-2 {
    width: 25px;
    height: 30px;
    border: 1px solid rgba(214, 206, 206, .2);
    display: flex;
    align-items: center;
    justify-content: center;
}

.next-page,
.previous-page {
    width: 80px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1f1f1f;
    border: 1px solid rgba(214, 206, 206, .2);

}

.page-1 a,
.page-2 a,
.next-page a,
.previous-page a {
    font-size: 14px;
    color: silver;
}

.previous-page i {
    font-size: 14px;
    color: silver;
    padding-top: 5%;
    padding-right: 3%;
}

.next-page i {
    font-size: 14px;
    color: silver;
    padding-top: 5%;
    padding-left: 3%;
}

.bottom-registration {
    cursor: pointer;
    width: 21%;
    height: 25px;
    float: right;
    background-color: #443e3e;
    color: silver;
    font-size: 12px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bottom-registration:hover {
    background-color: #262626;
}



/*============================ Post Section ==============================*/

.post {
    width: 98%;
    height: 93%;
    margin-top: 10px;
}

.post-container {
    width: 100%;
    height: 100%;
}

.post-owner {
    width: 100%;
    height: 130vh;
    display: flex;
    align-items: center;
    background-color: #262626;
}

.post-avatar {
    width: 18%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: 1px solid rgba(214, 206, 206, .2);
    padding-top: 2%;
    position: relative;
}

.post-avatar > .owner-info-modal {
    position: absolute;
    top:-15%;
    left: -19%;
    width: 450px;
    height: 160px;
}

.oi-triangle {
    width: 50%;
    height: 5%;
    display: flex;
    justify-content: center;
}

.triangle {
    width: 0; 
    height: 0; 
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #2d2d2d;
}

.oi-main {
    width: 100%;
    height: 95%;
    border: 1px solid rgba(214, 206, 206, .2);
}

.oi-main-row-1 {
    width: 100%;
    height: 70%;
    background-color: #1f1f1f;
    display: flex;
}

.user-logo {
    width: 25%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.user-logo img {
    width: 85%;
    height: 95%;
}

.user-details {
    width: 75%;
    height: 100%;
}

.user-details a {
    font-size: 20px;
    margin-right: 20%;
    color: white;
    display: flex;
    justify-self: flex-start;
}

.ud-row-1,
.ud-row-2 {
    width: 50%;
    height: 25%;
    color: white;
    display: flex;
    font-size: 13px;

}

.progress-start {
    width: 45%;
    height: 100%;
    border-bottom: 3px solid white;
    font-size: 12px;
}


.progress-end {
    width: 65%;
    height: 97%;
    border-bottom: 1px solid silver;
    font-size: 12px;
    text-align: right;
}

.ud-row-2 {
    flex-direction: column;
}

.reg-date,
.activity {
    display: flex;
}

.reg-date span,
.activity span {
    color: silver;
}

.reg-date p,
.activity p {
    margin-left: 5px;
}

.oi-main-row-2 {
    width: 100%;
    height: 30%;
    background-color: #2d2d2d;
    display: flex;
    justify-content: space-around;
}

.oi-main-row-2 > div {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.oi-main-row-2 > div span {
    font-size: 12px;
    color: silver;
}

.oi-main-row-2 > div p {
    font-size: 12px;
    color: white;
}

.po-avatar-row-1 {
    width: 100%;
    height: 3%;
    text-align: center;
    
}

.po-avatar-row-1 a {
    color: white;
}

.po-avatar-row-2 {
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
}

.po-avatar-row-2 img {
    width: 80%;
}

.po-avatar-row-2 > .owner-info-modal {
    position: absolute;
    top:-62%;
    left: -30%;
    width: 450px;
    height: 160px;
}

.po-info {
    width: 80%;
    height: 11%;
    background-color: #1f1f1f;
}

.po-info-row-1 {
    width: 100%;
    height: 30%;
    display: flex;
}

.po-status-1 {
    width: 40%;
    height: 100%;
    border-bottom: 3px solid white;
    text-align: center;
}

.po-status-1 a {
    font-size: 12px;
    font-weight: bold;
    color: white;
}

.po-status-2 {
    width: 60%;
    height: 97%;
    border-bottom: 1px solid silver;
    text-align: right;
    padding-right: 5%;
}

.po-status-2 a {
    font-size: 12px;
    color: silver;
}

.po-info-row-2 {
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: space-around;
    color: white;
    font-size: 12px;
}

.comments,
.likes,
.sum {
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 6%;
}

.likes {
    cursor: pointer;
}

.comments i,
.likes i,
.sum i {
    font-size: 16px;
}

.likes i.liked {
    color: #3b5998 ;
}

.po-content {
    width: 82%;
    height: 100%;
}

.post-date {
    border-bottom: 1px solid rgba(214, 206, 206, .2);
    width: 100%;
    height: 3%;
    padding-left: 10px;
}

.post-date span {
    font-size: 14px;
    color: silver;
}

.post-desc {
    width: 100%;
    height: 97%;
}

.pd-row-1 {
    width: 100%;
    height: 17%;
    padding-top: 1%;
}

.pd-row-1 p {
    font-size: 18px;
    color: white;
    text-align: center;
}

.pd-row-2 {
    width: 100%;
    height: 17%;
    color: white;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}

.pd-row-3 {
    width: 100%;
    height: 15%;
    color: #ffff00;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}

.pd-row-4 {
    width: 100%;
    height: 12%;
    color: white;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}

.pd-row-5 {
    width: 100%;
    height: 10%;
    color: white;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    padding-left: 2%;
    padding-right: 2%;
}

.pd-row-6 {
    width: 100%;
    height: 6%;
    color: #ff8000;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}

.pd-row-7 {
    width: 100%;
    height: 6%;
    color: white;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}

.pd-row-8 {
    width: 100%;
    height: 4%;
    text-align: center;
    font-size: 18px;
    color: rgb(184, 49, 47);
    font-weight: bold;
}
.pd-row-9 {
    width: 100%;
    height: 2.5%;
    text-align: right;
}

.pd-row-10 {
    width: 100%;
    height: 10.5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.pc-likes {
    border: 1px solid #2d2d2d;
    border-left: 2px solid #2d936c;
    width: 98%;
    height: 40%;
    display: flex;
    align-items: center;
    padding-left: .5%;
}

.pc-likes i {
    width: 18px;
    height: 18px;
    font-size: 10px;
    color: white;
    background-color:  rgb(30, 139, 228);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pc-likes a {
    font-size: 14px;
    color: white;
}

.pc-ad {
    border: 1px solid #2d2d2d;
    border-radius: 5px;
    width: 98%;
    height: 50%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pc-ad a {
    color: white;
}

.pc-ad i {
    font-size: 14px;
    padding-top: 3px;
}

.user-comments {
    width: 100%;
    height: 86%;
    padding-top: 10px;
}

.com-container {
    width: 100%;
    height: 40vh;
    background-color: #262626;
    border: 1px solid #2d2d2d;
    margin-bottom: 10px;
}

.com-owner {
    width: 100%;
    height: 100%;
    display: flex;
}

.com-avatar {
    width: 18%;
    height: 100%;
    border-right: 1px solid #2d2d2d;
    padding-top: 2%;
}

.com-avatar-1,
.com-avatar-2,
.com-avatar-3,
.com-avatar-4,
.com-avatar-5,
.com-avatar-6,
.com-avatar-7,
.com-avatar-8,
.com-avatar-9,
.com-avatar-10,
.com-avatar-11,
.com-avatar-12,
.com-avatar-13,
.com-avatar-14,
.com-avatar-15,
.com-avatar-16,
.com-avatar-17,
.com-avatar-18,
.com-avatar-19,
.com-avatar-20,
.com-avatar-21,
.com-avatar-22{
    position: relative;
}

.com-avatar-1 > .owner-info-modal,
.com-avatar-2 > .owner-info-modal,
.com-avatar-3 > .owner-info-modal,
.com-avatar-4 > .owner-info-modal,
.com-avatar-5 > .owner-info-modal,
.com-avatar-6 > .owner-info-modal,
.com-avatar-7 > .owner-info-modal,
.com-avatar-8 > .owner-info-modal,
.com-avatar-9 > .owner-info-modal,
.com-avatar-10 > .owner-info-modal,
.com-avatar-11 > .owner-info-modal,
.com-avatar-12 > .owner-info-modal,
.com-avatar-13 > .owner-info-modal,
.com-avatar-14 > .owner-info-modal,
.com-avatar-15 > .owner-info-modal,
.com-avatar-16 > .owner-info-modal,
.com-avatar-17 > .owner-info-modal,
.com-avatar-18 > .owner-info-modal,
.com-avatar-19 > .owner-info-modal,
.com-avatar-20 > .owner-info-modal,
.com-avatar-21 > .owner-info-modal,
.com-avatar-22 > .owner-info-modal {
    position: absolute;
    top: -50%;
    left: -10%;
    width: 450px;
    height: 160px;
}

.user-logo-modal img{
    width: 80%;
    height: 80%;
}

.owner-info-modal, 
.com-avatar-row-1 {
    width: 100%;
    text-align: center;
}

.com-avatar-row-1 a {
    color: white;
}

.com-avatar-row-2 {
    width: 100%;
    display: flex;
    justify-content: center;
}

.com-avatar-row-2 img {
    width: 80%;
}

.com-info {
    height: 30%;
    color: silver;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.com-info-row-1 {
    width: 80%;
    height: 35%;
    display: flex;
}

.com-status-1 {
    width: 45%;
    height: 100%;
    border-bottom: 3px solid white;
    text-align: center;
}

.com-status-1 a {
    font-size: 12px;
    color: white;
}

.com-status-2 {
    width: 55%;
    height: 97%;
    border-bottom: 1px solid silver;
    text-align: right;
    padding-right: 5%;
}

.com-status-2 a {
    font-size: 12px;
    color: silver;
}

.com-info-row-2 {
    width: 80%;
    height: 70%;
    display: flex;
    justify-content: space-around;
    color: white;
    font-size: 12px;
}

.com-content {
    width: 82%;
    height: 100%;
}

.com-date {
    border-bottom: 1px solid #2d2d2d;
    color: silver;
    font-size: 14px;
    width: 100%;
    height: 10%;
    padding-left: 10px;
    display: flex;
    align-items: center;
    margin-bottom: 3%;
}

.cc-row-1 {
    width: 100%;
    height: 22%;
    margin-bottom: 1.5%;
}

.cc-row-1-title {
    width: 100%;
    height: 50%;
    border: 1px solid #2d2d2d;
    border-left: 2px solid #299c70;
    padding-left: 10px;
}

.cc-row-1-title a,
.cc-row-1-title i {
    color: #299c70;
    font-size: 14px;
}

.cc-row-1-desc {
    width: 100%;
    height: 50%;
    border: 1px solid #2d2d2d;
    border-left: 2px solid #299c70;
    padding-left: 10px;
    color: white;
    font-size: 14px;
    display: flex;
    align-items: center;
}

.response {
    color: white;
    font-size: 14px;
    margin-left: 10px;
}

.cc-row-2 {
    width: 100%;
    height: 12%;
    border: 1px solid #2d2d2d;
    border-left: 2px solid #299c70;
    padding-left: 10px;
    color: white;
    font-size: 14px;
    display: flex;
    align-items: center;
    margin-top: 7%;
}

.cc-row-2 i {
    width: 18px;
    height: 18px;
    font-size: 10px;
    color: white;
    background-color: rgb(30, 139, 228);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cc-row-2 a {
    font-size: 14px;
    color: white;
    margin-left: 5px;
}


.editor {
    width: 95%;
    height: 28vh;
    margin-top: 15px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    align-items: center;
    background-color: #202021;
}

.user-avatar {
    width: 15%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.user-avatar div {
    width: 100px;
    height: 100px;
    background-color: orange;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    color: black;
}

.quill-editor {
    width: 85%;
    height: 100%;
}

#toolbar {
    height: 0;
}

#editor {
    height: 70%;
    color: silver;
}

.ql-toolbar.ql-snow {
    height: 30%;
    background-color: #202021 !important;
}

.ql-container {
    height: 1.5%;
    background-color: #202021;
    color: white;
}

.ql-editor {
    color: white;
}

.blog-section-nav {
    width: 98%;
    height: 30px;
    background-color: #262626;
    margin-top: 10px;
    padding-left: 10px;
}

.blog-section-nav a {
    font-size: 12px;
    color: white;
}

.blog-section-nav i {
    font-size: 12px;
    color: white;
}

.scroll {
    width: 30px;
    height: 60px;
    position: fixed;
    bottom: 25px;
    right: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.scroll-to-top {
    width: 100%;
    height: 48%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(214, 206, 206, .2);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.scroll-to-bottom {
    width: 100%;
    height: 48%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(214, 206, 206, .2);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.scroll-to-top a,
.scroll-to-bottom a {
    color: silver;
}

@media (max-width: 1440px) {
    .ph-row-3-title {
        width: 40%;
    }

    .post-avatar > .owner-info-modal {
        position: absolute;
        top:-13%;
    }

    .po-avatar-row-2 > .owner-info-modal {
        top: -65%;
        left: -10%;
    }

    .bottom-registration {
        width: 30%;
    }
}

@media (max-width: 1024px) {
    .info-col {
        font-size: 14px;
    }

    .page-nav {
        width: 45%;
    }

    .ph-row-3-title {
        width: 55%;
    }

    .ph-row-3-info {
        width: 70%;
    }

    .pd-row-1 p{
        font-size: 15px;
    }

    .pd-row-2,
    .pd-row-3,
    .pd-row-4,
    .pd-row-5,
    .pd-row-6,
    .pd-row-7,
    .pd-row-8 {
        font-size: 15px;
    }

    .pc-ad a {
        font-size: 13px;
    }

    .post-avatar {
        width: 22%;
    }

    .post-avatar > .owner-info-modal {
        top:-17%;
    }

    .po-avatar-row-2 > .owner-info-modal {
        top: -65%;
        left: -10%;
    }

    .po-content {
        width: 78%;
    }

    .com-avatar {
        width: 22%;
    }

    .com-content {
        width: 78%;
    }

    .bottom-registration {
        width: 37%;
    }

    .blog-section-nav {
        margin-top: 5px;
    }

    .editor {
        width: 98%;
        height: 23vh;
    }

    .user-avatar {
        width: 12%;
    }

    .user-avatar div {
        width: 75px;
        height: 75px;
    }

    .quill-editor {
        width: 88%;
    }

    #editor {
        height: 53%;
        color: silver;
    }
    
    .ql-toolbar.ql-snow {
        height: 47%;
        background-color: #202021 !important;
    }
}

@media (max-width: 768px) {
    .info {
        height: 32vh;
    }

    .info-col {
        font-size: 12px;
    }

    .info-row-1 {
        display: flex;
        align-items: flex-end;
    }

    .info-row-2 {
        height: 20%;
    }

    .page-nav {
        width: 75%;
    }

    .page-nav li:nth-child(1) {
        font-size: 13px;
    }

    .page-nav li:nth-child(2) a, 
    .page-nav li:nth-child(2) i {
        font-size: 13px;
    }

    .ph-row-3-title {
        width: 95%;
    }

    .checked {
        width: 22%;
        font-size: 14px;
    }

    .ph-row-3-title p {
        font-size: 20px;
    }

    .ph-row-3-info {
        width: 100%;
    }

    .ph-row-3-info div {
        margin-left: 1%;
    }

    .info-tags {
        width: 50%;
    }

    .tag-4 {
        display: none !important;
    }

    .pagination {
        width: 35%;
    }

    .page-1,
    .page-2 {
        width: 32px;
    }

    .next-page, .previous-page {
        width: 120px;
    }

    .post-owner {
        flex-direction: column;
    }

    .post-avatar {
        width: 75%;
        height: 25%;
        position: relative;
        flex-direction: row;
        border-right: none;
    }
    

    .post-avatar > .owner-info-modal {
        top: -55%;
        left: 40%;
        width: 350px;
    }


    .owner-info-modal .oi-triangle {
        width: 100%;
    }

    #po-modal-img {
        width: 70%;
    }

    .owner-info-modal .reg-date, 
    .owner-info-modal .activity {
        justify-content: space-between;
    }

    .po-avatar-row-2 > .owner-info-modal {
        width: 350px;
        top: -125%;
        left: -15%
    }

    .user-details a {
        font-size: 16px;
    }

    .ud-row-1, .ud-row-2 {
        width: 70%;
    }

    .po-content {
        width: 100%;
        height: 75%;
    }

    .post-avatar img {
        width: 40%;
    }

    .po-avatar-row-1 {
        position: absolute;
        top: 25%;
        left: 26%;
    }

    .po-info {
        width: 100%;
        height: 18%;
    }

    .po-info-row-1 {
        height: 100%;
    }

    .po-info-row-2 {
        font-size: 11px;
    }

    .post-date {
        height: 4%;
    }

    .post-date span {
        font-size: 13px;
    }

    .pd-row-1 p,
    .pd-row-2,
    .pd-row-3,
    .pd-row-4,
    .pd-row-5,
    .pd-row-6,
    .pd-row-7,
    .pd-row-8 {
        font-size: 13px;
        text-align: center;
    }

    .pd-row-1 {
        height: 20%;
    }

    .pd-row-2 {
        height: 10%;
    }

    .pd-row-3 {
        height: 10%;
    }

    .pd-row-4 {
        height: 10%;
    }

    .pd-row-5 {
        height: 13%;
    }

    .pd-row-7 {
        height: 8%;
    }

    .pd-row-8 {
        height: 5%;
    }

    .pd-row-9 {
        height: 4.5%;
    }

    .pd-row-10 {
        height: 12.5%;
    }

    .pc-ad a {
        font-size: 10px;
    }

    .pc-ad i {
        font-size: 12px;
    }

    .pc-likes a {
        font-size: 12px;
    }

    .com-avatar {
        width: 45%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .com-avatar .owner-info-modal .oi-triangle {
        width: 60%;
    }

    .com-avatar-1 > .owner-info-modal, 
    .com-avatar-2 > .owner-info-modal, 
    .com-avatar-3 > .owner-info-modal, 
    .com-avatar-4 > .owner-info-modal, 
    .com-avatar-5 > .owner-info-modal, 
    .com-avatar-6 > .owner-info-modal, 
    .com-avatar-7 > .owner-info-modal, 
    .com-avatar-8 > .owner-info-modal, 
    .com-avatar-9 > .owner-info-modal, 
    .com-avatar-10 > .owner-info-modal, 
    .com-avatar-11 > .owner-info-modal, 
    .com-avatar-12 > .owner-info-modal, 
    .com-avatar-13 > .owner-info-modal, 
    .com-avatar-14 > .owner-info-modal, 
    .com-avatar-15 > .owner-info-modal, 
    .com-avatar-16 > .owner-info-modal, 
    .com-avatar-17 > .owner-info-modal, 
    .com-avatar-18 > .owner-info-modal, 
    .com-avatar-19 > .owner-info-modal, 
    .com-avatar-20 > .owner-info-modal, 
    .com-avatar-21 > .owner-info-modal, 
    .com-avatar-22 > .owner-info-modal {
        width: 350px;
        top: -55%;
        left: 20%;

    }

    .com-avatar-row-2 img {
        width: 60%;
    }

    .com-content {
        width: 55%;
        
    }

    .com-date {
        font-size: 12px;
    }

    .cc-row-1-title a, 
    .cc-row-1-title i {
        font-size: 12px;
    }

    .cc-row-1-desc {
        font-size: 12px;
    }

    .response {
        font-size: 12px;
    }
    
    .cc-row-2 i {
        width: 15px;
        height: 15px;
        font-size: 9px;
    }
    
    .cc-row-2 a{
        font-size: 12px;
    }


    .bottom-registration {
        width: 60%;
        text-align: center;
    }

    .blog-section-nav {
        height: 25px;
    }

    .user-avatar {
        width: 8%;
    }

    .user-avatar div {
        width: 50px;
        height: 50px;
        font-size: 30px;
    }

    .editor {
        height: 29vh;
    }

    .quill-editor {
        width: 92%;
    }
}

@media (max-width: 635px) {
    .user-acc-logo {
        width: 15px;
        height: 15px;
        font-size: 12px;
    }
    .user-avatar div {
        width: 40px;
        height: 30px;
        font-size: 18px;
    }

    .post-avatar > .owner-info-modal {
        top: -55%;
        left: -5%;
        width: 350px;
    }

    .po-avatar-row-2 > .owner-info-modal {
        width: 350px;
        top: -210%;
        left: -55%
    }

    
}